:root {
    --color01:#326148;
    --color02:#81A78C;
    --color03:#EEE5CF;
    --color04:#FAFAFA;
    --color05:#DAB162;
    --color06:#091B21;    
}

body {
    background-image: url('../images/TOPOGRAPHICAL_HUGE.svg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
        color: var(--color04);
        background-color: var(--color01);
        padding: 25px;
}

h3 {
    color: var(--color04);
    background-color: var(--color01);
    padding: 25px;
    border-radius: 16px;
}

#cityMapId{
    height: 500px;
    width: 700px;
    border-radius: 16px;
}

#newCityMapId{
    height: 500px;
    width: 700px;
    border-radius: 16px;
}

button {
    background-color: var(--color03);
}

section {
    background-color: var(--color03);
    border-radius: 16px;
    padding: 10px;
    border-radius: 16px;
}

article {
    background-color: var(--color02);
    padding: 10px;
}

p {
    background-color: var(--color02);
    padding: 10px;
    border-radius: 16px;
}

figure {
        /* background-color: var(--color02); */
        padding: 10px;
        margin: 20px 10px;
}

/* This is to get everything synced up again 03/08/21 1020pm */