:root {
  --mainText: "Alegreya SC", serif;
  --spanText: "Spirax", cursive;
  --color01: #326148;
  --color02: #81a78c;
  --color03: #eee5cf;
  --color04: #fafafa;
  --color05: #dab162;
  --color06: #091b21;
}

/* Background Image */
body {
  font-family: var(--mainText);
  background-image: url("../images/TOPOGRAPHICAL_HUGE.svg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--color06);
}
/* WanderLost*/
h1 {
  font-size: 30pt;
  background-image: linear-gradient(var(--color01), var(--color06));
  font-family: var(--mainText);
  color: var(--color04);
  background-color: var(--color01);
  padding: 25px;
}
/* trailMap currentWeather lodging dining */
h3 {
  text-align: center;
  font-size: 24pt;
  font-family: var(--mainText);
  color: var(--color04);
  background-color: var(--color01);
  padding: 25px;
  border-radius: 16px;
}
/* trailName */
h5 {
  font-family: var(--mainText);
}
/* decorative "o" */
span {
  font-size: 30pt;
  font-family: var(--spanText);
  font-weight: bold;
}

span.title {
  font-size: 30pt;
}

/* Implements map */
#cityMapId {
  height: 600px;
  width: 700px;
}
/* Creates border radius around section of */
#newCityMapId{
    height: 500px;
    width: 700px;
    border-radius: 16px;
}
/* searchButton */
button {
  background-color: var(--color03);
}
/* Information panels */
section {
  background-image: linear-gradient(var(--color01), var(--color03));
  border-radius: 16px;
  padding: 10px;
  border-radius: 16px;
}

article {
  padding: 10px;
}

.weatherI {
  font-size: 16pt;
  font-family: var(--mainText);
  background-color: var(--color02);
  padding: 10px;
  border-radius: 16px;
}

figure {
  /* background-color: var(--color02); */
  padding: 2%;
  margin: 2%;
}

.title {
    font-family: var(--spanText);
    font-weight: bold;
    font-size: 48px;
}

form {
    margin-top: 1.5%;
}

footer {
  background-image: linear-gradient(var(--color06), var(--color01));
  padding: 1em;
  margin-top: 16px;
}

.footerText {
  padding: 10px;
  text-align: center;
  color: var(--color03);
  font-size: 12pt;
  margin: 8px;
  line-height: 100%;
}