:root {
  --mainText: "Alegreya SC", serif;
  --spanText: "Spirax", cursive;
  --color01: #326148;
  --color02: #81a78c;
  --color03: #eee5cf;
  --color04: #fafafa;
  --color05: #dab162;
  --color06: #091b21;
}

body {
  font-family: var(--mainText);
  background-image: url("../images/TOPOGRAPHICAL_HUGE.svg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  font-family: var(--mainText);
  color: var(--color04);
  background-color: var(--color01);
  padding: 25px;
}

h3 {
  font-family: var(--mainText);
  color: var(--color04);
  background-color: var(--color01);
  padding: 25px;
  border-radius: 16px;
}

h5 {
  font-family: var(--mainText);
}

span {
  font-family: var(--spanText);
  font-weight: bold;
}

#cityMapId {
  height: 600px;
  width: 700px;
}

#newCityMapId{
    height: 500px;
    width: 700px;
    border-radius: 16px;
}

button {
  background-color: var(--color03);
}

section {
  background-color: var(--color03);
  border-radius: 16px;
  padding: 10px;
  border-radius: 16px;
}

article {
  padding: 10px;
}

p {
  font-family: var(--mainText);
  background-color: var(--color02);
  padding: 10px;
  border-radius: 16px;
}

figure {
  /* background-color: var(--color02); */
  padding: 10px;
  margin: 20px 10px;
}

.title {
    font-family: var(--spanText);
    font-weight: bold;
    font-size: 60px;
}

form {
    margin-top: 1.5%;
}
